	body {
		      margin-left: auto;
					margin-right: auto;
		      margin-bottom: 25px;
		      padding: 0;
		      background-color: #f0f0f0;
		      font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
		      font-size: 13px;
		      color: #333;
		    }
		    
		    h1 {
		      font-size: 25px;
		      text-decoration: none;
		    }
		    
		    a  {color: #03c;
						border: 0;
						text-decoration: none;}
		    a:hover {
		      background-color: #03c;
		      color: white;
		      text-decoration: none;
		    }
		    
		    
		    #page {
						margin-left: auto;
						margin-right: auto;
		      	width: auto;
						margin: 0 auto;
					
		    }
		    
		    #content {
					margin-left: auto;
					margin-right: auto;
		   
		      background-color: white;
		      border: 3px solid #aaa;
		      border-top: none;
		      border-bottom: none;
		      padding: 25px;
		      width: 600px;
		    }	    

		    #header {
					margin-left: auto;
					margin-right: auto;

					font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
		      font-size: 13px;

					text-align: left;
		      background-color: #aaa;
		      border: 3px solid #aaa;
		      border-bottom: none;
		      padding: 25px;
		      width: 600px;
	
		      
		      height: 40px;
		    }

		    #footer {
		      background-color: white;
					font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
		      font-size: 13px;
        	border: 3px solid #aaa;
					margin-left: auto;
					margin-right: auto;
        	padding-left: 25px;
					padding-right: 25px;
					padding-top: 10px;
					padding-bottom: 10px;
        	width: 600px;
		    }

		    #header h1, #header h2 {margin: 0}
		    #header h2 {
		      color: #888;
		      font-weight: normal;
		      font-size: 16px;
		    }
				#header h1 a {text-decoration:none}
				img
				{  border-style: none;
				}
			
